.comment__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.comment {
    border: 1px solid red;
}

.likes__and__dislikes {
    display: flex;
    flex-direction: row;
}
.likebutton, .dislikebutton {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

/* comment form styling */
form {
    display:flex;
    flex-direction: column;

    width: 1000px;
    align-items: center;
}

form input[type=submit] {
    background-color: var(--fourth-color);
    color: #565656;
    border: none;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px 20px;

}
