<nav>
    <ul class="links__left">
        <li>Home</li>
        <li>About</li>
        <li>Latest</li>
    </ul>
    <h1 class="owner_name">Jasmine's Blog</h1>
    <ul class="links__right">
        <li>Posts</li>
        <li>Store</li>
        <li>Contact</li>
    </ul>
</nav>